{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='question_detail.css') }}">
<main>
    <h5 class="title_q">{{ question.subject }}</h5>
    <h6>2022.02.09 | LESH</h6><hr>

    <div>
        <p>{{ question.content }}</p>
    </div><hr>

    <h5>답변 {{ question.answer_set|length }}개</h5>
    
  <form action="{{ url_for('answer.create', question_id=question.id) }}" method="post">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <!-- 오류표시 End -->
      <textarea class="form-control" name="content" id="content" rows="3" placeholder="{username}님의 답변을 입력해 주세요&#13;&#10;비방,욕설 등이 포함된 댓글은 제제 대상이 될 수 있습니다"></textarea>
      <input class="btn btn-outline-primary" type="submit" value="답변등록">
  </form>

    <div class="answer">
        <ul class="list-group">
          {% for answer in question.answer_set %}
            <li class="list-group-item">{{ answer.content }}</li>
          {% endfor %}
        </ul>
    </div>
</main>
<footer>
  Copyright &copy; 2022. All rights reserved.
</footer>
{% endblock %}
